.home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('e-commerce.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
}

.H-content {
    text-align: center;
}

.button {
    padding: 10px 20px;
    background-color: #4da3dc;
    color: rgb(250, 250, 250);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #efb478;
}

.color {
    color: rgb(0, 0, 0);
}

.contaner-button {
    margin-top: 40px; /* Increase this value to move the button further down */
}
